/* style for body */
body{
background-color: #fbfdf1;
}
/* this style is added to all elements */
*{
  box-sizing: border-box;
}
/* style for nav */
.navbar{
  background-color: #4371a2;
  height: 50px;
  color: white;
  overflow: hidden;
  top: 0;
  left: 2px;
  position: fixed;
  width: 100%;

}
/* style for the navbar menus */
.navbar a{
  color: white;
  font-size: 30px;
  padding: 5px;
  text-decoration: none;

}
/* style for body */
.main{
  padding: 15px;
  margin-top: 30px;
}

/* style for login card */
.card-title{
  top: 0;
}

/* style all inputs */
input, label,h4,p{
margin-left: 20%;
height:30px;
width: 60%;
margin-bottom: 10px;
display: inline-block;

}
/* style for all  buttons */
input[type="submit"],input[type="button"]{
  width: 50%;
  background-color: #4371a2;
  border-radius: 20px;
  margin-top: 10px;
  color: white;
  }

}
/* style for text color */
label,ul,li{
  color: #1e46f3;
  list-style-type: none;
}
h4{
  color: black:
}
/*style the side navbar*/
.sidenav{
background-color:#4371a2;
margin-top: 57px;
top :0;
width: 15%;
left: 2px;
position: fixed;
float: left;
border: 1px solid #4371a2;
height: 88vh;
}
.sidenav a,.dropdown-btn {
text-decoration: none;
display: block;
padding: 15px;
color: white;
background: none;
width: 100%;
 border: none;
 text-align: left;
}
.sidenav a:hover,.dropdown-btn:hover{
  background-color: white;
  color:#4371a2 ;

}
/* style dropdown menu */
.dropdown-container {
    display: none;
    background-color: black;
    padding-left: 8px;
}
.profile{
  float:right;

}
.profile a{
  font-size: 20px;
  padding:5px;
}
/* style for toprow of pages */
.head{
  width:30%;
  float:left;
}0
.topform{

  float:right;
}
/* style for the side body adjusent to sidenav */
.sidebody{
  width: 85%;
  height: 100vh;
  float: right;

}
/* style for row with search box */
.toprow{
  padding-left: 50px;
  border-bottom: 1px solid #e3e3e0;
  height :50px;

  }
.toprow input{
  border-radius: 20px;
  width:200px;
  height:35px;
  margin-left: 10px;
}
/* style title for cart */
.carttitle{
margin-left: 2%;
}
/* style for table */
table{
width: 98%;
border-collapse: collapse;
margin-left: 1%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th{
  background-color:#4371a2;
  color: white;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
td a{
  text-decoration: none;
  display: block;
  color: white;
  background-color: #4371a2;
  border-radius: 10px;
  width: 70%;
  padding: 5px;
}
.itemcell{
  color:white;
}

footer{
  position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#4371a2 ;
    color: white;
    text-align: center;

}
/* style for sections in left*/
.leftdetails{
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin:10px;
border: 1px solid #dddddd;
width: 40%;
padding-top: 10px;
float: left;
}

/* style for sections in left */
.rightdetails{
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border: 1px solid #dddddd;
  margin:10px;
  width: 40%;
  padding-top: 10px;
  float: left;
  font-size:30px;

}

.rightdetails li{
  list-style-type: none;

}
/* style for sections at center */
.centereddetails{
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border: 1px solid #dddddd;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  display: block;
  width: 50%;
  padding-top: 10px;

}
.centereddetails{
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border: 1px solid #dddddd;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  display: block;
  width: 50%;

}
.card{
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border: 1px solid #dddddd;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  display: block;
  width: 50%;
  padding-top: 10px;

}

.card button{
  width: 50%;
  background-color: #4371a2;
  margin-left: 25%;
  text-decoration: none;
  border-radius: 10px;
  height: 30px;

}
.toadmin{
  margin-top: 100px;
  margin-left: 25%;
  color: #4371a2;
}
/* style for items hover */
.tooltip {
    position: relative;
    display: inline-block;
    padding: 3px;
    background-color: #4371a2;
    border-radius: 10px;
    width: 50%;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.topprofile{
  padding-left: 50px;
  border: 1px solid #e3e3e0;
  height :35vh;
  margin-top: 1%;
}
img{
  height: 180px;
  width: 180px;
  left: 0;
  border-radius: 50%;
}
.pic{


  width: 40%;
  padding-top: 1px;
  float: left;
  font-size:30px;
}
.topdetails{

  width: 40%;
  padding-top: 10px;
  float: left;
  font-size:30px;
}
.lowprofile{
  height :65vh;
  margin-top: 1%;
}

#erroMessage{
  color: red;
}

#add_to_cart{
  background-color: lightgreen;
  border-radius: 10px;
}
